<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="['/']">Movies App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto"></ul>

      <div class="d-flex ms-auto">
        <form class="d-flex">
          <input
            #txtBuscar
            (keyup.enter)="buscarPelicula(txtBuscar.value)"
            class="form-control me-2"
            type="search"
            placeholder="Buscar Pelicula"
            aria-label="search"
          />
          <button
            class="btn btn-outline-secondary"
            type="submit"
            (click)="buscarPelicula(txtBuscar.value)"
          >
            Buscar
          </button>
        </form>
      </div>
    </div>
  </div>
</nav>
